<html>
    <head><title>Webpage</title>
    </head>
    <body style="background-color:lightcoral">
        <h3>This is the second page</h3>
        <h2>Java script</h2>

    <label>Enter your name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>

    <input type="text" id="username"/>

    <br/><br>

    <label>Enter your password:</label>

    <input type="password" id="password"/>

    <br/><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button onclick="venny()">Click</button>
    </body>
</html>